@import 'vendor/normalize';
@import 'modules/variables';
@import 'modules/mixins';
@import 'modules/media-queries';
@import 'partials/form-section';
@import 'partials/card-section';
@import 'partials/card';
@import 'partials/header';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
//I'm using css variables instead of scss ones so i can manupulate them with js
:root {
  --primary: rgb(79, 101, 199);
}
body {
  font-size: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow-x: hidden;
  color: $dark;
  @include flex-center;
}
.alert {
  font-size: 1.2rem;
  background: $alert;
  color: $light;
  width: 100vw;
  text-align: center;
}
